extends layout

block content

  h1 ID: #{bookinstance._id}

  p #[strong タイトル: ]
    a(href=bookinstance.book.url) #{bookinstance.book.title}
  p #[strong 出版社情報:] #{bookinstance.imprint}

  p #[strong 状態: ]
    if bookinstance.status=='Available'
      span.text-success 利用可能
    else if bookinstance.status=='Maintenance'
      span.text-danger 保守中
    else if bookinstance.status=='Loaned'
      span.text-warning 貸出中
    else if bookinstance.status=='Reserved'
      span.text-warning 予約済み
    else
      span.text-warning #{bookinstance.status}

  if bookinstance.status!='Available'
    p #[strong 返却予定日:] #{bookinstance.due_back_formatted}

  hr
  p
    a(href=bookinstance.url+'/delete') 蔵書を削除
  p
    a(href=bookinstance.url+'/update') 蔵書を更新