extends layout

block content
  h1= title
  p Mozilla Developer Network のチュートリアル例として作成された、Expressベースの簡単なサイト「LocalLibrary」へようこそ。

  h1 Dynamic content

  p The library has the following record counts:

  ul
    li #[strong 本:] !{book_count}
    li #[strong コピー数:] !{book_instance_count}
    li #[strong 利用可能なコピー:] !{book_instance_available_count}
    li #[strong 著者数:] !{author_count}
    li #[strong ジャンル数:] !{genre_count}
